modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["glib", "nspr", "nss", "atk", "at-spi2-atk", "at-spi2-core", "dbus", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "mesa", "libdrm", "xorg.libxcb", "libxkbcommon", "alsa-lib"]

[agent]
expertMode = true

[[ports]]
localPort = 18763
externalPort = 8000

[[ports]]
localPort = 20171
externalPort = 3003

[[ports]]
localPort = 21370
externalPort = 3000

[[ports]]
localPort = 23448
externalPort = 4200

[[ports]]
localPort = 24892
externalPort = 5173

[[ports]]
localPort = 25329
externalPort = 3002

[[ports]]
localPort = 25333
externalPort = 6800

[[ports]]
localPort = 25488
externalPort = 6000

[[ports]]
localPort = 25626
externalPort = 80

[[ports]]
localPort = 25927
externalPort = 3001

[[ports]]
localPort = 26897
externalPort = 5000
